{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block menu %}
    <li>
        <a href="/">Главная</a>
    </li>
    <li class="active">
        <a href="/about/">Обо мне</a>
    </li>
    <li>
        <a href="/contacts/">Контакты</a>
    </li>
{% endblock %}

{% block page_name %}
    <h1 class="page-header">
        Обо мне
        <!-- <small>Secondary Text</small> -->
    </h1>
{% endblock %}

{% block content %}
	
	<img class="img-responsive" src="{% static 'images/michael.jpg' %}">
	<hr>
	<p>Привет! Меня зовут Михаил, мне 22 и я начинающий web разработчик.<br> 
	Я создал этот блог, чтобы на практике познакомиться с основными возможностями фреймворка Django.<br>
	Связаться со мной вы можете <a href="contacts/">здесь</a>.</p>
	<hr>
{% endblock %}