{% extends 'blog/base.html'%}

{% block title %}My Blog{% endblock %}

{% block menu %}
	{% if user.is_authenticated %}
		<ul class="menu">
			<li class="active"><a href="/">Main</a></li>
			<li><a href="/logout/">Exit</a></li>
		</ul>
	{% else %}
		<ul class="menu">
			<li class="active"><a href="/">Main</a></li>
			<li><a href="/auth/">Auth</a></li>
			<li><a href="/reg/">Registration</a></li>
		</ul>
	{% endif %}
{% endblock %}

{% block content %}
	<ul class="news">
		{% for post in posts %}
			<li>
				<h2>{{ post.title }}</h2>
				<hr>
				<p>{{ post.preview_post }}</p>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
