{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <h2>
        <a href="#">{{ post.title }}</a>
        </h2>
        <p class="lead">
            Автор: <a href="#">{{ post.author }}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Опубликовано {{ post.date_created }}</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>{{ post.preview_post }}</p>
        <a class="btn btn-primary" href="#">Подробнее <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
    {% endfor %}
{% endblock %}