form input, form button {
	margin: 0px auto 20px auto;
	padding: 15px;
	width: 220px;
	border: 0px;
}

form button {
	color: white;
	background: #99B898;
	width: 250px;
}

form button:hover {
	cursor: pointer;
}

label {
	display: none;
}

form {
	width: 250px;
	padding: 40px;
	margin: 0px auto;
}

.helptext {
	display: none;
}

.errorlist {
	border: 2px solid #E84A5F;
	padding: 15px;
	margin: 10px auto;
}